@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';


@layer base {
  :root {
    --header-height: 56px;

    --background: var(--secondary);
    --base: 0 0% 10%;

    --primary: #121212;
    --secondary: #F2FDF7;
    --tertiary: #a7c7d1;
    --highlight: #c5fc6b;
    /* todo: convert hex codes from template to modern rgb to be compatible with tailwind config */
    --color-primary: 18 18 18;
    --color-secondary: 242 253 247;
    --color-highlight: 197 252 107;
    --color-tertiary: 167 199 209;
    --headline: 24px;
    --header-height: 120px;

    --drop-shadow-spread: 0px;
    --drop-shadow-color: rgba(0, 0, 0, 0.25);

    --font-heading-font-family: 'Satoshi','Courier New', Courier, monospace;
    --font-heading-font-weight: 400;
    --font-heading-font-style: normal;
    --font-heading-line-height: 1.25;
    --font-heading-font-size: 24px;

    --font-body-font-family: 'Satoshi', 'Courier New', Courier, monospace;
    --font-body-font-weight: 400;
    --font-body-font-style: normal;
    
    --sidebar-width: 300px;
    --grid-base: 4px;


  /* corner radius */
    --border-radius-button: 32px;
    --border-radius-object: 8px;
  
    /* typography */
    --headline-font-size:;
    --headline-letter-spacing: -0.5px;
    --headline-line-height: 40;

    --body-large-font-size: 18px;
    --body-large-letter-spacing: 0px;
    --body-large-line-height: 28;
    --body-large-weight: 500;

    --body-font-size: 16px;
    --body-weight: 400;

    --caption-font-size: 16px;
    --caption-weight: 500;
    --caption-line-height: 24;

    --body-extra-small-font-size: 12px;
    --body-extra-small-font-weight: 500;
    --body-extra-small-line-height: 16;

    --link-gradient: linear-gradient(var(--highlight), var(--highlight));

    --footer-height: 60px;
    --pa-pink: #ff89de;
    --border-radius: 5px;
    /* TYPOGRAPHY */
    --code-font: 'SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace';
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body-font-family);
  color: var(--primary);
  background-color: var(--background);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* header {
  height: var(--header-height);
} */

main {
  min-height: calc(100vh - var(--header-height));
  padding-bottom: var(--header-height);
}

/* UTILS */
.raw-displayer > code,
.raw-displayer > code > pre,
.markdown-wrapper > code {
  font-family: 'SFMono-Regular', Consolas, Liberation Mono, Menlo, monospace !important;
  line-height: 1.25;
  font-size: 12px;
}

.markdown-wrapper p > code,
.markdown-wrapper li > code,
.markdown-wrapper pre {
  @apply rounded-[5px] bg-gray-900 px-[7px] py-[3px] text-left text-sm;
}

.markdown-wrapper h1 {
  @apply text-2xl;
}

.markdown-wrapper h2 {
  @apply text-xl;
}

.markdown-wrapper h3, h4, h5, h6 {
  @apply text-lg;
}

.markdown-wrapper p {
  @apply text-base;
}

.markdown-wrapper ul {
  list-style-type: disc;
  padding-left: 20px;
}

.markdown-wrapper ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown-wrapper li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.markdown-wrapper a {
  text-decoration: underline;
}

.connect-button-wrapper:hover {
  background-color: #ff89de;
}

article {
  @apply markdown-wrapper flex flex-col gap-4 max-w-[960px] m-auto p-4;
}

#index img {
  @apply border-[1px] mb-8;
}

/* FONT */
.helvetica-neue {
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
}

.sm-font {
  @apply helvetica-neue;
  text-transform: uppercase;
  font-size: 4vmin;
}

.md-font {
  @apply helvetica-neue;
  text-transform: uppercase;
  font-size: 5.5vmin;
}

.big-font {
  @apply helvetica-neue;
  text-transform: uppercase;
  font-size: 10vmin;
}

.huge-font {
  @apply helvetica-neue;
  text-transform: uppercase;
  font-size: 20vmin;
  color: #000000;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke-color: var(--pa-pink);
  -webkit-text-stroke-width: 2px;
  line-height: .75;
}

.big-font:hover,
.md-font:hover,
.sm-font:hover {
  color: #000000;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke-color: var(--pa-pink);
  /* box-shadow: 0 0 50px 15px var(--pa-pink); */
}

.big-font:hover,
.md-font:hover {
  -webkit-text-stroke-width: 2px;
}

.sm-font:hover {
  -webkit-text-stroke-width: 1px;
}

footer a {
  @apply big-font;
}

.shadow {
  -webkit-filter: drop-shadow(10px 10px 4px #4444dd);
          filter: drop-shadow(10px 10px 4px #4444dd);
}

div[data-radix-popper-content-wrapper] .content-outer .content-inner {
    width: 100%;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* transform: translate3d(0, 100%, 0); */

    padding-top: 24px;
    padding-bottom: 24px;
}

div[data-radix-popper-content-wrapper] {
  z-index: 999 !important;
}

/* On screens that are 768px or less, create sheet for dropdown */
@media screen and (max-width: 768px) {
  div[data-radix-popper-content-wrapper] {
    transform: none !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }
}

	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 4px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size .5s ease-in-out;
	}

  .link-underline--active {
    background-image: linear-gradient(transparent, transparent), var(--link-gradient);
    background-size: 100% 4px;
    background-position: 0 100%
  }